<div class="animated d-lg-flex align-items-lg-center justify-content-lg-start container-change-password">
    <div class="col-lg-7 container-logo row d-flex justify-content-center">
        <app-logo class="d-none d-md-block"></app-logo>
    </div>

    <div class=" form-change-password d-md-flex flex-column justify-content-md-center">
        <div>
            <p class="form-change-password__title">
                Restablecer contraseña
            </p>
        </div>
        <div class="container_subtitle">
            <p class="form-change-password_subtitle">
                <span class="form-change-password_subtitle--phrase"> Ingresa tu Usuario</span> y se te enviará una nueva contraseña autogenerada a tu correo corporativo.
            </p>
        </div>
        <div class="form-group position-relative container-form-group">

            <div class="col pt-2  pb-4 container-input px-3">
                <img src="assets/icons/man_user.png" class="container-input__img" alt="user">
                <input class="form-control container-input__input" type="text" placeholder="Usuario" [(ngModel)]="userForRestorePassword.user" />
            </div>

            <div class="col pt-4 px-3">
                <button type="button" class="btn button" data-toggle="modal" data-target="#sendUser" (click)="onUserRecoverPassword()">Aceptar</button>
            </div>
            <div class="col pt-3 px-4">
                <button type="button" class="btn button button--cancel" routerLink="/authentication/login">Cancelar</button>
            </div>

        </div>

        <div [ngStyle]="{'visibility': showModal === false ? 'hidden' : 'visible'}" class="modal fade animated" id="sendUser" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sendUser" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body px-md-2">
                        <label>Si el usuario ingresado es correcto, 
                            te enviaremos el correo con la contraseña autogenerada.
                        </label>
                    </div>
                    <div class="d-flex justify-content-center justify-content-md-end pb-md-3 pr-md-4">
                        <button type="submit" class="btn btn-yes" data-dismiss="modal" [routerLink]="['/authentication/login']">Entendido</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>