@font-face {
    font-family: titilliumweb-regular;
    src: url(../../../../../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: titilliumweb-light;
    src: url(../../../../../assets/fonts/TitilliumWeb-Light.ttf);
}

@font-face {
    font-family: ubuntu-light;
    src: url(../../../../../assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: ubuntu-regular;
    src: url(../../../../../assets/fonts/Ubuntu-Regular.ttf);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* for smatphone */

@media(min-width:300px) {
    .container-change-password {
        height: 100vh;
        width: 95%;
        margin: auto;
    }
    .form-change-password {
        padding: 90px 40px 40px;
    }
    .form-change-password__title {
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #83786F;
    }
    .form-change-password__title--user {
        font-weight: bold;
    }
    .form-change-password__subtitle {
        font-family: ubuntu-light, Arial, Helvetica, sans-serif;
        line-height: 23px;
        letter-spacing: -0.5px;
        padding: 15px 0px 10px 0px;
        color: #83786F;
        font-size: 20px;
    }
    .form-change-password__text-error {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.5px;
        color: #F04C3E;
        text-align: right;
    }
    .current-password__icon-lock {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 13px;
        left: 10px;
    }
    .currentPassword__input {
        font-family: titilliumweb-light, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.5px;
        width: 100%;
        height: 42px;
        color: #83786F;
        border-radius: 5px;
        border: 1px solid #83786F;
        padding: 0px 40px;
    }
    .currentPassword__input:focus {
        outline: none;
    }
    .currentPassword__input::placeholder {
        color: #c0c0c0;
    }
    .currentPassword__input-error {
        border: 1px solid #F04C3E;
        color: #F04C3E;
    }
    .btn-icon-eye {
        border: none;
        box-shadow: none;
    }
    .btn-icon-eye__icon-eye {
        position: absolute;
        width: 16px;
        height: 16px;
        bottom: 35px;
        float: right;
        right: 10px;
    }
    .container-message__vignette {
        position: relative;
        width: 5px;
        height: 5px;
        background: #83786F;
        margin: 5px;
        top: 6px;
    }
    .container-message__vignette--error {
        background: #F04C3E;
    }
    .container-message__text {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #83786F;
        height: 37px;
    }
    .container-message__text--error {
        color: #F04C3E;
    }
    .new-password__lock {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 13px;
        left: 10px;
    }
    .new-password__input {
        font-family: titilliumweb-light, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.5px;
        width: 100%;
        height: 42px;
        color: #83786F;
        border-radius: 5px;
        border: 1px solid #83786F;
        padding: 0px 40px;
    }
    .new-password__input:focus {
        outline: none;
    }
    .new-password__input::placeholder {
        color: #c0c0c0;
    }
    .new-password__input--error {
        border: 1px solid #F04C3E;
        color: #F04C3E;
    }
    .new-password-repeat__icon-lock {
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: 35px;
        left: 10px;
    }
    .new-password-repeat__input {
        font-family: titilliumweb-light, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.5px;
        width: 100%;
        height: 42px;
        color: #83786F;
        border-radius: 5px;
        border: 1px solid #83786F;
        padding: 0px 40px;
    }
    .new-password-repeat__input:focus {
        outline: none;
    }
    .new-password-repeat__input::placeholder {
        color: #c0c0c0;
    }
    .new-password-repeat__input--error {
        border: 1px solid #F04C3E;
        color: #F04C3E;
    }
    .enter-change-password {
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 21px;
        width: 100%;
        height: 42px;
        background: #CA005D;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
    }
    .modal-change-psw {
        opacity: 1;
        display: block;
    }
    .modal-content {
        border: none;
        text-align: center;
        padding: 20px;
        width: 226px;
        height: 290px;
        background: #E5E5E5;
        border-radius: 20px;
        margin: 0 auto;
        top: 145px
    }
    .modal-body {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        display: flex;
        align-items: center;
        letter-spacing: -0.5px;
        color: #83786F;
    }
    .modal-footer {
        border: none;
        margin: auto;
    }
    .modal-footer .btn-yes {
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        width: 118px;
        height: 40px;
        background: #CE0058;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
}

@media(min-width:768px) {
    .container-logo {
        padding-top: 90px;
    }
}

@media(min-width:992px) {
    .container-logo {
        padding-top: 0px;
    }
    .container-title-subtitle {
        padding-top: 60px;
    }
    .form-change-password {
        width: 420px;
        padding-left: 1%;
        margin-left: 50px;
        padding-right: 3%;
        /* margin-right: 38px; */
        padding-top: 0px;
    }
    .form-change-password:before {
        content: '';
        position: absolute;
        left: 58%;
        width: 0.5px;
        height: 400px;
        top: 16%;
        background: #999999;
    }
    .current-password,
    .new-password,
    .new-password-repeat {
        width: 90%;
    }
    .form-change-password__title {
        font-size: 24px;
        font-weight: bold;
    }
    .form-change-password__subtitle {
        font-size: 22px;
        padding: 0px 0px 10px 0px;
        width: 315px;
    }
    .currentPassword__input {
        font-size: 18px;
        height: 55px;
    }
    .new-password__input {
        font-size: 18px;
        height: 55px;
    }
    .new-password-repeat__input {
        font-size: 18px;
        height: 55px;
    }
    .current-password__icon-lock {
        width: 20px;
        height: 20px;
        top: 18px;
    }
    .btn-icon-eye__icon-eye {
        width: 20px;
        height: 20px;
        top: 20px;
        float: right;
    }
    .new-password__lock {
        width: 20px;
        height: 20px;
        top: 18px;
    }
    .new-password-repeat__icon-lock {
        width: 20px;
        height: 20px;
        top: 18px;
        left: 10px;
    }
    .form-change-password__text-error {
        width: 90%;
    }
    .container-message {
        padding-left: 4%;
        width: 90%;
        position: relative;
    }
    .container-message__text {
        /* font-size: 15px; */
        line-height: 14px;
        width: 280px;
        margin-left: 15px;
    }
    .enter-change-password {
        font-size: 20px;
        height: 55px;
        width: 90%;
    }
    .container-message__vignette {
        position: absolute;
        width: 5px;
        height: 5px;
        background: #83786F;
        margin: 5px;
        top: 9px;
    }
}

@media(max-width:1114px) {
    .container-message__text {
        font-size: 14px;
    }
}

@media(min-width:1115px) {
    .container-message__text {
        font-size: 15px;
    }
}