<div class="d-lg-flex align-items-lg-center justify-content-lg-start container-change-password">

    <div class="col col-lg-7 container-logo d-flex justify-content-center animated ">
        <app-logo class="d-none d-md-block"></app-logo>
    </div>

    <div class="form-change-password">
        <div class="container-title-subtitle">
            <p class="form-change-password__title">
                ¡Hola, <span class="form-change-password__title--user">{{dataOfUser.employeeName}}</span>!
            </p>
            <p class="form-change-password__subtitle">
                Estas solicitando cambiar tu contraseña. Completa los siguientes campos:
            </p>
        </div>

        <form #form="ngForm" class="form-change-password-on-demand">
            <div *ngIf="incorrectPassword === true" class="form-change-password__text-error">Contraseña incorrecta</div>
            <div class="form-group current-password position-relative mb-0">
                <img *ngIf="incorrectPassword === false" src="assets/icons/lock.png" class="current-password__icon-lock" alt="lock">
                <img *ngIf="incorrectPassword === true" src="assets/icons/lock_bug.png" class="current-password__icon-lock current-password__icon-lock--bug" alt="lock-bug">

                <input [type]="currentPassword ? 'text' : 'password'" [className]="incorrectPassword ? 'currentPassword__input currentPassword__input-error' : 'currentPassword__input'" placeholder="Ingresa tu contraseña actual" name="passwordCurrent" required [(ngModel)]="dataUserOfPasswordChange.currentPassword"
                    (keyup)="validateCurrentPassword($event)" />
                <button type="button" class="btn btn-icon-eye" (click)="showCurrentPassword()">
                <img *ngIf="incorrectPassword === false" src="assets/icons/eye.png" class="btn-icon-eye__icon-eye" alt="eye">
                </button>

                <button *ngIf="currentPassword === true" type="button" class="btn btn-icon-eye" (click)="showCurrentPassword()">
                <img *ngIf="incorrectPassword === false" src="assets/icons/eye_show.png" class="btn-icon-eye__icon-eye" alt="eye">
                </button>

                <button type="button" class="btn btn-icon-eye" (click)="showCurrentPassword()">
                <img *ngIf="incorrectPassword === true" src="assets/icons/eye.png" class="btn-icon-eye__icon-eye" alt="eye">
                </button>
                <button *ngIf="currentPassword === true" type="button" class="btn btn-icon-eye" (click)="showCurrentPassword()">
                <img *ngIf="incorrectPassword === true" src="assets/icons/eye_show.png" class="btn-icon-eye__icon-eye" alt="eye">
                </button>
            </div>

            <div class="d-flex container-message mb-2">
                <div [className]=" invalidPassword ? 'container-message__vignette container-message__vignette--error' : 'container-message__vignette' "></div>
                <div [className]="invalidPassword ? 'container-message__text container-message__text--error' : 'container-message__text' ">
                    Usa mínimo 8 carácteres, una mayúscula, un dígito y un símbolo (* ? # $ % & () = +
                    <>)
                </div>
            </div>

            <div class="form-group new-password position-relative mb-0 ">
                <img *ngIf="invalidPassword===false " src="assets/icons/lock.png " class="new-password__lock " alt="lock ">
                <img *ngIf="invalidPassword===true " src="assets/icons/lock_bug.png " class="new-password__lock new-password__lock--bug " alt="lock-bug ">

                <input [type]="newPassword ? 'text' : 'password' " [className]="invalidPassword ? 'new-password__input new-password__input--error' : 'new-password__input' " placeholder="Ingresa tu nueva contraseña " name="passwordNew
                " required [(ngModel)]="dataUserOfPasswordChange.newPassword " (keyup)="onNewPassword() " />

                <button type="button " class="btn btn-icon-eye " (click)="showNewPassword() ">
                <img src="assets/icons/eye.png " class="btn-icon-eye__icon-eye " alt="eye ">
                </button>

                <button *ngIf="newPassword===true " type="button " class="btn btn-icon-eye " (click)="showNewPassword() ">
                <img src="assets/icons/eye_show.png " class="btn-icon-eye__icon-eye " alt="eye ">
                </button>
            </div>


            <div *ngIf="passwordNotMatch===true " class="form-change-password__text-error ">
                Las contraseñas deben coincidir
            </div>


            <div class="form-group new-password-repeat position-relative ">
                <img *ngIf="passwordNotMatch===false " src="assets/icons/lock.png " class="new-password-repeat__icon-lock " alt="lock " />
                <img *ngIf="passwordNotMatch===true " src="assets/icons/lock_bug.png " class="new-password-repeat__icon-lock new-password-repeat__icon-lock--bug " alt="lock-bug " />

                <input [type]="repeatPassword ? 'text' : 'password' " [className]="passwordNotMatch ? 'new-password-repeat__input new-password-repeat__input--error ' : 'new-password-repeat__input' " placeholder="Repite tu nueva contraseña " name="passwordOne " required
                    [(ngModel)]="dataUserOfPasswordChange.repeatPassword " (keyup)="onRepeatPassword() " />

                <button type="button " class="btn btn-icon-eye " (click)="showRepeatPassword() ">
                <img *ngIf="passwordNotMatch===false " src="assets/icons/eye.png " class="btn-icon-eye__icon-eye " alt="eye " />
                </button>

                <button *ngIf="repeatPassword===true " type="button " class="btn btn-icon-eye " (click)="showRepeatPassword() ">
                <img *ngIf="passwordNotMatch===false " src="assets/icons/eye_show.png " class="btn-icon-eye__icon-eye " alt="eye "/>
                </button>

                <button type="button " class="btn btn-icon-eye " (click)="showRepeatPassword() ">
                <img *ngIf="passwordNotMatch===true " src="assets/icons/eye.png " class="btn-icon-eye__icon-eye " alt="eye "/>
                </button>

                <button *ngIf="repeatPassword===true " type="button " class="btn btn-icon-eye " (click)="showRepeatPassword() ">
                <img *ngIf="passwordNotMatch===true " src="assets/icons/eye_show.png " class="btn-icon-eye__icon-eye " alt="eye "/>
                </button>
            </div>

            <button type="submit" class="col btn enter-change-password" data-toggle="modal " data-target="#sendRequest" (click)="saveChangePassword(form) ">
            Guardar cambios        
            </button>

            <div *ngIf="showModal===true" class="modal modal-change-psw fade" id="sendRequest" data-backdrop="false" tabindex="-1 " role="dialog " aria-labelledby="sendRequest " aria-hidden="true ">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            {{ requestPassword }}
                        </div>
                        <div class="modal-footer ">
                            <button class="btn btn-yes" data-dismiss="modal " (click)="logOut()">
                            Continuar
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>