<div class="col animated">
    <div class="d-flex align-items-start justify-content-start">
        <div class="col-3 col-lg-4 pr-0 pt-2 pt-lg-2 d-lg-flex justify-content-lg-start">
            <img src="assets/icons/loguito.png" class="main-logo" alt="logo">
        </div>

        <div class="col-9 container-brand-slogan">
            <h3 class="main-logo__brand text-left mb-0">POINT</h3>
            <p class="main-logo__slogan text-left pl-1">PLATAFORMA DE GESTIÓN DE PRECIOS</p>
        </div>
    </div>

    <div class="col d-lg-none">
        <hr class="line">
    </div>

</div>