@font-face {
    font-family: titilliumweb-regular;
    src: url(../../../../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: ubuntu-regular;
    src: url(../../../../assets/fonts/Ubuntu-Regular.ttf);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* for smartphone */

@media (min-width: 300px) {
    header {
        width: 100%;
        height: 50px;
        background: #E5E5E5;
    }
    .icon-user-header {
        float: right;
        padding: 10px;
    }
    .icon-user {
        width: 26px;
        height: 26px;
    }
    .icon-logo {
        position: relative;
        width: 30px;
        float: left;
        top: 3px;
        left: 6px;
    }
    .modal-content {
        position: relative;
        z-index: -1;
    }
    .container-table {
        position: relative;
        width: 232px;
        float: right;
        top: 40px;
    }
    .modal-container {
        background: #FFFFFF;
        width: 232px;
        border-radius: 0;
        border: 1px solid #91004B;
        height: 225px;
    }
    .table,
    tr,
    th {
        border: 1px solid #91004B;
    }
    table .head {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 26px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.5px;
        text-indent: 5px;
        color: #83786F;
        background: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 0;
    }
    table .head-two {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 23px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.5px;
        text-indent: 5px;
        color: #83786F;
        background: #FFFFFF;
        border-top: 1px solid #91004B;
        border: 1px solid rgba(145, 0, 75, 0.5);
        padding-top: 0;
    }
    table .body {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: justify;
        letter-spacing: -0.5px;
        text-indent: 5px;
        color: #83786F;
        border: 1px solid rgba(145, 0, 75, 0.5);
        background: rgba(245, 202, 220, 0.17);
    }
    .modal-signout {
        border: none;
        text-align: center;
        padding: 10px;
        width: 226px;
        height: 290px;
        background: #E5E5E5;
        ;
        border-radius: 20px;
        margin: 0 auto;
    }
    .modal-body label {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 20px;
        letter-spacing: -0.5px;
        color: #83786F;
        padding-top: 10px;
    }
    .modal-footer {
        border: none;
        margin: auto;
    }
    .modal-footer .btn-yes {
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #FFFFFF;
        width: 63px;
        height: 40px;
        background: #CE0058;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: 5px;
    }
    .modal-footer .btn-not {
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #83786F;
        width: 63px;
        height: 40px;
        border: 1px solid #83786F;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: 5px;
    }
    .modal-backdrop {
        z-index: 0;
    }
}

@media (min-width:992px) {
    header {
        width: 100%;
        height: 82px;
        background-color: #CE005D;
    }
    .icon-logo {
        width: 80px;
        float: left;
        top: 0
    }
    .icon-logo-modif {
        width: 80px;
        position: absolute;
        left: 12.5px;
        bottom: 2px;
    }
    .icon-user-header {
        float: right;
        padding: 37px 55px 0
    }
    .icon-user {
        width: 35px;
        height: 35px;
    }
    .user-name-text {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 5px
    }
    .dropdown-toggle--color {
        border: none;
        color: #FFFFFF;
        font-size: 50px;
        float: right;
        position: absolute;
        left: -10px;
        top: -26px
    }
    .nav-tabs .nav-item.show .nav-link {
        color: #91004B;
    }
    .dropdown-divider {
        border: 0.1px solid #FFA100;
    }
    .container-options {
        background-color: #FFE5B8;
    }
    .dropdown-item {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 33px;
        display: inline-block;
        text-align: left;
        align-items: center;
        letter-spacing: -0.5px;
        text-indent: 5px;
        color: #83786F;
        width: 368px;
    }
    .dropdown-item:active {
        background-color: rgb(251, 246, 246)
    }
    a:not([href]):not([tabindex]) {
        text-decoration: none;
        color: #83786F;
    }
    .dropdown-item-space {
        height: 100px;
    }
    .nav-tabs .nav-item.show .nav-link {
        background-color: transparent;
        color: #FFFFFF;
    }
    .nav-tabs .dropdown-menu {
        margin-top: -30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 370px;
    }
    .cursor-pointer {
        cursor: pointer;
    }
}