<div class="col-md-auto container-data animated d-lg-none">
    <div class="d-flex">
        <div class="col pt-1 mr-2 title-product-off">
            <h3 [className]="disabledProduct ? 'title-on' : 'title-product-off'">Datos del Producto</h3>
        </div>
        <div class="col stepers">
            <img *ngIf="disabledProduct ? false : true" class="stepers" src="assets/icons/steper_two.png" alt="steper2">
            <img *ngIf="disabledProduct ? true : false" class="stepers" src="assets/icons/steper_two_inactive.png" alt="steper2">
        </div>
    </div>

    <form>
        <div class="container-products">
            <div class="d-flex pt-2">
                <div class="col mr-2 form-group">
                    <label [className]="disabledProduct ? 'inactivelp' : 'activelp'">Producto</label>
                    <select [className]="disabledProduct ? 'form-control' : 'form-control activeInputProduct'" [disabled]="disabledProduct ? true : false" name="productId" #productId (change)="onDataMode(productId.value)">
                            <option class="d-none"
                                    value="">Elegir</option>
                            <option *ngFor="let product of objDataSubproduct" 
                                    value="{{product.id}}">
                                    <span *ngIf="product.id===1">EMPRESARIO</span>
                                    <span *ngIf="product.id===2">SUPER FÁCIL</span> 
                            </option>
                    </select>
                </div>
                <div class="col form-group">
                    <label [className]="disabledProduct ? 'inactivelp' : 'activelp'">Modalidad</label>
                    <select [className]="disabledProduct ? 'form-control' : 'form-control activeInputProduct'" [disabled]="disabledProduct ? true : false" name="mode" #modeId>
                            <option class="d-none">NUEVO</option>
                            <option *ngFor="let mode of objDataMode" 
                                    value="{{mode.id}}">{{mode.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- desktop -->

<div class="py-lg-3 px-lg-3 mb-lg-2 main-product-container bg-white  d-none d-sm-none d-md-block">
    <h3 [className]="disabledProduct ? 'title-on' : 'title-product-off'">2. Datos del Producto</h3>
    <div class="row">
        <div class="col-lg-4 pr-lg-0 mr-lg-2 pr-lg-2">
            <label [className]="disabledProduct ? 'inactivelp' : 'activelp'">Producto</label>
            <select [className]="disabledProduct ? 'form-control' : 'form-control activeInputProduct'" [disabled]="disabledProduct ? true : false" name="productId" #productId2 (change)="onDataMode(productId2.value)">
                <option class="d-none" value="" selected>Elegir</option>
                <option *ngFor="let product of objDataSubproduct" value="{{product.id}}">
                        <span *ngIf="product.id===1">Empresario</span>
                        <span *ngIf="product.id===2">Súper Fácil</span> 
                </option>                            
             </select>
        </div>
        <div class="col-lg-4 pl-lg-0 pr-lg-4">
            <label [className]="disabledProduct ? 'inactivelp' : 'activelp'">Modalidad</label>
            <span [className]="disabledProduct ? 'form-control modalidad' : 'form-control activeInputProduct modalidad'" name="mode" #modeId>
                Nuevo               
            </span>
        </div>
    </div>
</div>