@font-face {
    font-family: titilliumweb-regular;
    src: url(../../../../../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: ubuntu-light;
    src: url(../../../../../assets/fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: ubuntu-regular;
    src: url(../../../../../assets/fonts/Ubuntu-Regular.ttf);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/* for smartphone */

@media (min-width: 300px) {
    .row {
        height: 0;
    }
    .logo {
        padding-top: 70px;
    }
    .title {
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #83786F;
    }
    .title-regular {
        font-family: ubuntu-light, Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #83786F;
    }
    .welcome-user {
        font-family: ubuntu-light, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-size: 20px;
        color: #83786F;
        font-weight: 300;
        line-height: 20px;
        letter-spacing: -0.5px;
        padding: 15px 0px 10px 0px;
    }
    .form-control:hover {
        border: 2px solid #CA005D;
    }
    .form-password {
        color: #83786F;
    }
    .img {
        width: 20px;
        height: 20px;
    }
    .change-password {
        padding: 50px;
    }
    .form-control {
        width: 100%;
        height: 42px;
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        letter-spacing: -0.5px;
        color: #83786F;
        border-radius: 5px;
        border: 1px solid #83786F;
        box-shadow: none;
        box-sizing: border-box;
    }
    .form-group {
        position: relative;
    }
    .form-group .img {
        position: absolute;
        padding: 2px;
    }
    .left-password .lock {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .left-password .lock-bug {
        position: absolute;
        top: 32px;
        left: 10px;
    }
    .new-password .lock-bug-error {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .password .lock-bug-status {
        position: absolute;
        top: 32px;
        left: 10px;
    }
    .form-group input {
        padding-left: 30px;
    }
    .password .eye,
    .eye-show {
        top: 10px;
        right: 10px;
    }
    .right-password .img-eye,
    .img-eye-show {
        position: absolute;
        top: 32px;
        right: 10px;
    }
    .repeat-password .error-eye,
    .error-eye-show {
        position: absolute;
        top: 32px;
        right: 10px;
    }
    .password input {
        padding-right: 10px;
    }
    .right-password .alert-bug {
        position: absolute;
        top: 30px;
        right: 14px;
    }
    .icon-eye {
        border: none;
        box-shadow: none;
    }
    .enter-change-password {
        font-size: 18px;
        line-height: 21px;
        width: 100%;
        height: 42px;
        background: #CA005D;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        border: 1px solid #CA005D;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .error {
        border: 1px solid red;
    }
    .form-error {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: -0.5px;
        color: #F04C3E;
        float: right;
        padding-right: 35px;
    }
    .modal-content {
        border: none;
        text-align: center;
        padding: 20px;
        width: 226px;
        height: 290px;
        /* background: #EFEDEB; */
        background: #E5E5E5;
        ;
        border-radius: 20px;
        margin: 0 auto;
    }
    .modal-body {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        display: flex;
        align-items: center;
        letter-spacing: -0.5px;
        color: #83786F;
    }
    .modal-footer {
        border: none;
        margin: auto;
    }
    .modal-footer .btn-yes {
        font-family: ubuntu-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        width: 118px;
        height: 40px;
        background: #CE0058;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .container-message {
        position: relative;
        bottom: 10px;
    }
    .tab {
        position: relative;
        width: 5px;
        height: 5px;
        background: #83786F;
        margin: 5px;
        top: 6px;
    }
    .message {
        font-family: titilliumweb-regular, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #83786F;
        height: 37px;
    }
    .error-tab {
        background: #F04C3E;
    }
    .error-message {
        color: #F04C3E;
    }
    .error-repeat-password {
        border: solid 1px #F04C3E;
    }
}