<div class="container animated">
    <div class="row align-items-center">
        <div class="col-md-auto logo">
            <app-logo></app-logo>
        </div>
        <div class="col change-password">
            <h5 class="title">
                ¡Hola,<small class="title-regular"> {{ dataOfUser.employeeName }}</small>!
            </h5>
            <p class="welcome-user">Debes cambiar la contraseña a tu elección:</p>
            <div class="d-flex container-message">
                <div [className]="controlNewPassword ? 'tab' : 'tab error-tab'"></div>
                <div [className]="controlNewPassword ? 'message' : 'message error-message'">
                    Usa mínimo 8 carácteres, una mayúscula, un dígito y un símbolo (* ? # $ % & () = +
                    <>)
                </div>
            </div>
            <form #form="ngForm">
                <div *ngIf="formStatus === true" class="form-error">
                    Escribe la contraseña
                </div>
                <div class="col-xs form-group left-password password right-password new-password">
                    <img *ngIf="formStatus === false && formError === false" src="assets/icons/lock.png" class="img lock icon-lock" alt="lock" />
                    <img *ngIf="formError === true" src="assets/icons/lock_bug.png" class="img lock-bug lock-bug-error" alt="lock-bug" />
                    <img *ngIf="formStatus === true" src="assets/icons/lock_bug.png" class="img lock-bug-status" alt="lock-bug" />
                    <input [type]="newPassword ? 'text' : 'password'" [className]="formInput ? 'form-control error' : 'form-control form-password'" placeholder="Nueva contraseña" name="newPassword" [(ngModel)]="password.newPassword" (keyup)="onControlNewPassword()" />
                    <button type="button" class="btn icon-eye" (click)="showNewPassword()">
                        <img *ngIf="formStatus === false" src="assets/icons/eye.png" class="img eye" alt="eye" />
                    </button>
                    <button *ngIf="newPassword === true" type="button" class="btn icon-eye" (click)="showNewPassword()">
                        <img *ngIf="formStatus === false" src="assets/icons/eye_show.png" class="img eye-show" alt="eye" />
                    </button>
                    <button type="button" class="btn icon-eye" (click)="showNewPassword()">
                        <img *ngIf="formStatus === true" src="assets/icons/eye.png" class="img img-eye" alt="eye" />
                    </button>
                    <button *ngIf="newPassword === true" type="button" class="btn icon-eye" (click)="showNewPassword()">
                        <img *ngIf="formStatus === true" src="assets/icons/eye_show.png" class="img img-eye-show" alt="eye" />
                    </button>
                </div>
                <div *ngIf="formStatus === true" class="form-error">
                    Escribe la contraseña
                </div>
                <div *ngIf="formError === true" class="form-error">
                    Las contraseñas deben coincidir
                </div>
                <div class="col-xs form-group left-password password right-password repeat-password">
                    <img *ngIf="formStatus === false && formError === false" src="assets/icons/lock.png" class="img lock" alt="lock" />
                    <img *ngIf="formStatus === true || formError === true" src="assets/icons/lock_bug.png" class="img lock-bug lock-bug-error" alt="lock-bug" />
                    <input [type]="repeatPassword ? 'text' : 'password'" [className]="formInput ? 'form-control error' : 'form-control form-password'" placeholder="Repetir contraseña" name="repeatPassword" [disabled]="controlRepeatPassword ? true : false" [(ngModel)]="password.repeatPassword"
                        (keyup)="onConfirmPassword()" />
                    <button type="button" class="btn icon-eye" (click)="showRepeatPassword()">
                        <img *ngIf="formStatus === false && formError === false" src="assets/icons/eye.png" class="img eye" alt="eye" />
                    </button>
                    <button *ngIf="repeatPassword === true" type="button" class="btn icon-eye" (click)="showRepeatPassword()">
                        <img *ngIf="formStatus === false && formError === false" src="assets/icons/eye_show.png" class="img eye-show" alt="eye" />
                    </button>
                    <button type="button" class="btn icon-eye" (click)="showRepeatPassword()">
                        <img *ngIf="formStatus === true" src="assets/icons/eye.png" class="img img-eye" alt="eye" />
                    </button>
                    <button *ngIf="repeatPassword === true" type="button" class="btn icon-eye" (click)="showRepeatPassword()">
                        <img *ngIf="formStatus === true" src="assets/icons/eye_show.png" class="img img-eye-show" alt="eye" />
                    </button>
                    <button type="button" class="btn icon-eye" (click)="showRepeatPassword()">
                        <img *ngIf="formError === true && formStatus === false" src="assets/icons/eye.png" class="img error-eye" alt="eye" />
                    </button>
                    <button *ngIf="repeatPassword === true" type="button" class="btn icon-eye" (click)="showRepeatPassword()">
                        <img *ngIf="formError === true && formStatus === false" src="assets/icons/eye_show.png" class="img error-eye-show" alt="eye" />
                    </button>
                </div>
                <button type="button" class="col btn enter-change-password" (click)="onChangePassword(form)" data-toggle="modal" data-target="#sendRequest">
                    GUARDAR
                </button>
                <div *ngIf="showModal === true" class="modal fade" id="sendRequest" data-backdrop="true" tabindex="-1" role="dialog" aria-labelledby="sendRequest" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                {{ requestPassword }}
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-yes" href="#" data-dismiss="modal" [routerLink]="['/authentication/login']">
                                    Continuar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>